header{
  background-color: brown;
  position: fixed;
  padding: 5px;
  }
  .column-1{
    display: inline-block;
    border: 2px solid black;
    margin-top: 150px;
    width: 45%;
    vertical-align: top;
    padding: 10px;
    
  }
  .column-2{
    display: inline-block;
    border: 2px solid black;
    margin-top: 150px;
    width: 45%;
    vertical-align: top;
    padding: 10px;
  }
