body{
	background: #E8E8E8;
	
}
.first-para{
	font-size: 30px;
	 font-family: georgia;
	 text-shadow:5px 10px 10px ;
	color: #888888 ;
	margin: 20px;
	text-align: center;
	width: 90%;
}
#contact-table{
	border: 5px;
	border-style: solid;
	padding: 20px;
	border-color: gray;
}
footer{
	text-align: center;
}
#background-image {
	
	height: 420px;
	background-color: #1E90FF;
	padding: 10px;
	width: 98%
}
#background-image #it-web-background{
	width: 95%;
	height: 80%;

}
#background-image #top-para{
	text-align: center;
}


.main-fieldset{
border: gray 3px solid;
width: 50%;
border-radius: 15px;

}
a{
	color: rgb(255,0,0);
}
marquee{
	color: #00FF66;
}
#contact-table{
	border: 5px solid #696969;
	border-radius: 15px;

}
a:hover {
    color: #D2691E;
}

@media screen and (max-width:480px) {
    body {
        background-color: red;
    }
}
@media screen and (min-width:1400px) {
    body {
        background-color: green;
    }
    
}
